@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.row {
	display: flex;
	margin: -10px;
	flex-wrap: wrap;
}

.row .col-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-3 {
	width: 25%;
	padding: 10px;
}

.row .col-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-6 {
	width: 50%;
	padding: 10px;
}

.row .col-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-9 {
	width: 75%;
	padding: 10px;
}

.row .col-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-12 {
	width: 100%;
	padding: 10px;
}

.btn {
	border: none;
	outline: none;
	background-color: transparent;
}

.btn-primary {
	font-family: 'poppins',sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin: 25px 0;
	padding: 12px 36px;
	cursor: pointer;
	color: white;
	border: 2px solid crimson;
	border-radius: 6px;
	background-color: crimson;
}

.btn-primary:hover {
	background-color: transparent;
}

.btn-primary:hover a {
	color: crimson;
}

body {
	font-family: 'poppins',sans-serif;
}

.header {
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	height: 100vh;
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-size: cover;
}

.header .header_fixed {
	position: fixed;
	z-index: 98;
	width: 100%;
	transition: all .6s;
	background-color: crimson;
}

.header .header_fixed .nav_menu ul li a:hover {
	color: white;
}

.header .header_fixed .nav_img a {
	font-size: 35px;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
}

.header .header_fixed .nav_img a .nav_img-red {
	color: #fff;
}

nav {
	padding: 20px 0;
}

nav .container {
	display: flex;
	width: 85%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

nav .container .nav_img a {
	font-size: 35px;
	font-weight: 600;
	cursor: pointer;
	transition: all .3s ease;
	color: #fff;
}

nav .container .nav_img a .nav_img-red {
	padding-left: 0;
	color: crimson;
}

nav .container .nav_menu {
	display: flex;
	align-items: center;
}

nav .container .nav_menu i {
	font-size: 24px;
	display: none;
	cursor: pointer;
	color: #fff;
}

nav .container .nav_menu ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .container .nav_menu ul li {
	cursor: pointer;
}

nav .container .nav_menu ul li a {
	font-size: 18px;
	font-weight: 600;
	margin-left: 25px;
	color: #fff;
}

nav .container .nav_menu ul li a:hover {
	color: crimson;
}

.header_content .container {
	display: flex;
	width: 85%;
	height: 80vh;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.header_content .container .personal_img .tran {
	position: relative;
}

.header_content .container .personal_img .tran .box {
	position: relative;
	width: 350px;
	height: 450px;
}

.header_content .container .personal_img .tran .box .item {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: yellow;
}

.header_content .container .personal_img .tran .box .item img {
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 350px;
	height: 450px;
	-o-object-fit: cover;
	object-fit: cover;
}

.header_content .container .personal_img .tran .box img {
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 350px;
	height: 450px;
	margin-right: 40px;
	-o-object-fit: cover;
	object-fit: cover;
}

.header_content .container .personal_img .tran .box::before {
	position: absolute;
	z-index: 10;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 350px;
	content: '';
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 100px 0 40px #333;
}

.header_content .container .personal_img .tran .content {
	position: absolute;
	z-index: 10;
	text-align: center;
}

.header_content .container .content-text p {
	font-size: 27px;
	color: #fff;
}

.header_content .container .content-text .name {
	font-size: 75px;
	font-weight: 800;
	margin: 6px 0;
}

.header_content .container .content-text .text-3 {
	font-size: 40px;
}

.header_content .container .content-text .type {
	font-weight: 600;
	color: crimson;
}

.AboutMe {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: 100px;
	align-items: center;
}

.AboutMe .about-top {
	padding-bottom: 50px;
}

.AboutMe .about-top h2 {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 6px;
}

.AboutMe .about-top p {
	font-weight: 600;
	position: relative;
	text-align: center;
	color: crimson;
}

.AboutMe .about-top p::before {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 4px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.AboutMe .about-top p::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 4px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.AboutMe .container {
	width: 85%;
	margin: 0 auto;
}

.AboutMe .content {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.AboutMe .content img {
	width: 450px;
	height: 450px;
	border-radius: 6px;
	-o-object-fit: cover;
	object-fit: cover;
}

.AboutMe .content .content_about {
	width: 50%;
}

.AboutMe .content .content_about .name {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.AboutMe .content .content_about .typing {
	color: crimson;
}

.AboutMe .content .content_about p {
	font-family: 'poppins',sans-serif;
	text-align: justify;
}

.services {
	display: flex;
	flex-direction: column;
	padding: 70px 0;
	background-color: #111;
	align-items: center;
}

.services .about-top {
	padding-bottom: 50px;
}

.services .about-top h2 {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 6px;
	color: #fff;
}

.services .about-top p {
	font-weight: 600;
	position: relative;
	text-align: center;
	color: crimson;
}

.services .about-top p::before {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 6px;
	width: 25px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: #fff;
}

.services .about-top p::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 6px;
	width: 25px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: #fff;
}

.services .container {
	display: flex;
	width: 85%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.services .container .card {
	overflow: hidden;
	width: 30%;
	border-radius: 6px;
}

.services .container .card .content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 55px 30px;
	cursor: pointer;
	transition: all .4s;
	border-radius: 6px;
	background-color: #333;
	align-items: center;
}

.services .container .card .content:hover {
	transform: scale(1.05);
	background-color: crimson;
}

.services .container .card .content:hover i {
	color: white;
}

.services .container .card .content i {
	font-size: 45px;
	color: crimson;
}

.services .container .card .content h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 10px 0;
	color: white;
}

.services .container .card .content p {
	font-size: 18px;
	text-align: center;
	color: white;
}

.skills {
	display: flex;
	flex-direction: column;
	padding: 70px 0;
	align-items: center;
}

.skills .about-top {
	padding-bottom: 50px;
}

.skills .about-top h2 {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 6px;
}

.skills .about-top p {
	font-weight: 600;
	position: relative;
	text-align: center;
	color: crimson;
}

.skills .about-top p::before {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: -20px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.skills .about-top p::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: -20px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.skills .container {
	width: 85%;
	margin: 0 auto;
}

.skills .container .content .content_left {
	font-family: 'poppins',sans-serif;
	padding-right: 30px;
}

.skills .container .content .content_left h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.skills .container .content .content_left p {
	font-weight: 500;
	text-align: justify;
}

.skills .container .content .content_right {
	padding-left: 30px;
}

.skills .container .content .content_right .skill-1 {
	margin-bottom: 25px;
}

.skills .container .content .content_right .skill-1 p {
	display: flex;
	justify-content: space-between;
}

.skills .container .content .content_right .skill-1 p span {
	font-size: 18px;
	font-weight: 600;
}

.skills .container .content .content_right .skill-1 .line-1 {
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

.skills .container .content .content_right .skill-1 .line-1::after {
	position: absolute;
	width: 90%;
	height: 100%;
	content: '';
	background-color: crimson;
}

.skills .container .content .content_right .skill-1 .line-2 {
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

.skills .container .content .content_right .skill-1 .line-2::after {
	position: absolute;
	width: 80%;
	height: 100%;
	content: '';
	background-color: crimson;
}

.skills .container .content .content_right .skill-1 .line-3 {
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

.skills .container .content .content_right .skill-1 .line-3::after {
	position: absolute;
	width: 70%;
	height: 100%;
	content: '';
	background-color: crimson;
}

.skills .container .content .content_right .skill-1 .line-4 {
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

.skills .container .content .content_right .skill-1 .line-4::after {
	position: absolute;
	width: 60%;
	height: 100%;
	content: '';
	background-color: crimson;
}

.skills .container .content .content_right .skill-1 .line-5 {
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

.skills .container .content .content_right .skill-1 .line-5::after {
	position: absolute;
	width: 60%;
	height: 100%;
	content: '';
	background-color: crimson;
}

.my_team {
	display: flex;
	flex-direction: column;
	padding: 70px 0;
	padding-bottom: 120px;
	background-color: #111;
	align-items: center;
}

.my_team .about-top {
	padding-bottom: 50px;
}

.my_team .about-top h2 {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 6px;
	color: white;
}

.my_team .about-top p {
	font-weight: 600;
	position: relative;
	text-align: center;
	color: crimson;
}

.my_team .about-top p::before {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: -20px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: white;
}

.my_team .about-top p::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: -20px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: white;
}

.my_team .container {
	width: 85%;
	margin: 0 auto;
}

.my_team .container .row .card {
	overflow: hidden;
	margin-right: 16px;
	padding: 25px 35px;
	cursor: pointer;
	border-radius: 6px;
	background-color: #333;
}

.my_team .container .row .card .content {
	display: flex;
	flex-direction: column;
	transition: all .4s;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.my_team .container .row .card:hover {
	background-color: crimson;
}

.my_team .container .row .card:hover .content {
	transform: scale(1.1);
}

.my_team .container .row .card:hover img {
	border-color: white;
}

.my_team .container .row .card img {
	width: 150px;
	height: 150px;
	border: 6px solid crimson;
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.my_team .container .row .card .name {
	font-size: 25px;
	font-weight: 600;
	margin: 12px 0;
	color: white;
}

.my_team .container .row .card .text {
	color: white;
}

.catch_me {
	display: flex;
	flex-direction: column;
	padding: 70px 0;
	padding-bottom: 100px;
	align-items: center;
}

.catch_me .about-top {
	padding-bottom: 50px;
}

.catch_me .about-top h2 {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 6px;
}

.catch_me .about-top p {
	font-weight: 600;
	position: relative;
	text-align: center;
	color: crimson;
}

.catch_me .about-top p::before {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 4px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.catch_me .about-top p::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 4px;
	width: 45px;
	height: 4px;
	content: '';
	transform: 50% 50%;
	background-color: black;
}

.catch_me .content {
	width: 85%;
	margin: 0 auto;
}

.catch_me .content .content_text {
	padding-right: 20px;
}

.catch_me .content .content_text h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.catch_me .content .content_text p {
	text-align: justify;
}

.catch_me .content .content_text .block {
	margin-top: 25px;
}

.catch_me .content .content_text .block .name {
	font-weight: 600;
}

.catch_me .content .content_text .block i {
	font-size: 25px;
	color: crimson;
}

.catch_me .content .content_text .block .block_name p {
	padding-bottom: 6px;
}

.catch_me .content .content_form {
	padding-left: 20px;
}

.catch_me .content .content_form form {
	display: flex;
	flex-direction: column;
}

.catch_me .content .content_form label {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.catch_me .content .content_form .form-1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.catch_me .content .content_form .form-1 input {
	width: 48%;
}

.catch_me .content .content_form textarea,
.catch_me .content .content_form input {
	font-size: 17px;
	margin-bottom: 20px;
	padding: 10px 15px;
	transition: all .3s ease;
	border: 1px solid lightgray;
	border-radius: 6px;
}

.catch_me .content .content_form textarea {
	margin-bottom: 0;
}

.catch_me .content .content_form button a {
	font-size: 18px;
}

footer {
	display: flex;
	padding: 20px 0;
	background-color: #111;
	justify-content: center;
	align-items: center;
}

footer .content p {
	font-size: 18px;
	font-weight: 500;
	color: white;
}

footer .content p span {
	color: crimson;
}

.smart {
	position: fixed;
	right: 3%;
	bottom: 4%;
	display: flex;
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 6px;
	background-color: crimson;
	justify-content: center;
	align-items: center;
}

.smart.active {
	display: flex;
}

.smart:hover {
	opacity: .8;
}

.smart i {
	font-size: 30px;
	color: white;
}

@media (max-width: 1200px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 10px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 10px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 10px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 992px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-md-3 {
	width: 25%;
	padding: 10px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-md-6 {
	width: 50%;
	padding: 10px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-md-9 {
	width: 75%;
	padding: 10px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-md-12 {
	width: 100%;
	padding: 10px;
}

.btn-primary {
	padding: 10px 36px;
}

.btn-primary a {
	font-size: 20px;
}

nav .container .nav_menu i {
	display: block;
}

nav .container .nav_menu i:hover {
	color: crimson;
}

nav .container .nav_menu .nav_ul {
	position: absolute;
	z-index: 98;
	top: 0;
	right: 0;
	display: flex;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #111;
	justify-content: center;
	align-items: center;
}

nav .container .nav_menu .nav_ul.active {
	display: flex;
	-webkit-animation: leftToRight .4s forwards;
	animation: leftToRight .4s forwards;
}

nav .container .nav_menu .nav_ul .close {
	position: absolute;
	top: 10%;
	right: 10%;
}

nav .container .nav_menu .nav_ul ul {
	flex-direction: column;
}

nav .container .nav_menu .nav_ul ul li {
	margin-bottom: 35px;
}

nav .container .nav_menu .nav_ul ul li a {
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
}

nav .container .nav_menu .nav_ul ul li a:hover {
	color: crimson;
}

.header_content .container .content-text .text-3 {
	font-size: 27px;
}

.header_content .container .content-text .name {
	font-size: 50px;
	font-weight: 600;
	margin: 6px 0;
}

.header_content .container .content-text button a {
	font-size: 25px;
}

.services {
	margin-top: 300px;
}

}

@media (max-width: 768px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 10px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 10px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 10px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 10px;
}

.services .container .card {
	width: 100%;
	margin-bottom: 30px;
}

.catch_me .content .content_text {
	padding: 0;
}

.catch_me .content .content_form {
	margin-top: 20px;
	padding: 0;
}

}

@media (max-width: 576px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 10px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 10px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 10px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 10px;
}

.header_content .container .content-text .text-3 {
	font-size: 27px;
}

.header_content .container .content-text .name {
	font-size: 40px;
	font-weight: 600;
	margin: 6px 0;
}

.header_content .container .content-text button a {
	font-size: 20px;
}

.AboutMe {
	margin-top: 60px;
}

.AboutMe .content {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.AboutMe .content img {
	width: 350px;
	height: 350px;
	border-radius: 6px;
	-o-object-fit: cover;
	object-fit: cover;
}

.AboutMe .content .content_about {
	width: 100%;
}

.AboutMe .content .content_about .name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.skills .container .content .content_right {
	padding-left: 0;
}

footer .content p {
	font-size: 14px;
}

}

@-webkit-keyframes leftToRight {

from {
	transform: translateX(-150px);
}

to {
	transform: translateX(0);
}

}

@keyframes leftToRight {

from {
	transform: translateX(-150px);
}

to {
	transform: translateX(0);
}

}

@-webkit-keyframes RightToLeft {

from {
	transform: translateX(0px);
}

to {
	transform: translateX(-150);
}

}

@keyframes RightToLeft {

from {
	transform: translateX(0px);
}

to {
	transform: translateX(-150);
}

}

